/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

:root {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  /* height: 100vh; */

  --font-color-dark: #222;
  --font-color-light: #fff;
  --font-lg: 3em;
  --font-md: 1.5em;
  --font-sm: 1.15em;

  --accent-color: hsl(316, 52%, 65%);
  --accent-color-light: hsl(316, 52%, 80%);
  --accent-color-dark: hsl(316, 52%, 50%);
  --accent-gradient: hsla(316, 51%, 29%, 0.50), rgba(95, 30, 78, 0.55);

  --speed: 300ms;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

a {
  font-size: var(--font-sm);
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
header{
  color: var(--font-color-light);
  background-color: var(--accent-color);
  width: 100vw;
}
.hero {
  box-shadow: inset 0 -10px 20px -10px #000000b3;
}
.hero-home {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/img/home-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-services {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/img/services-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-about {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/img/about-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-contact {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/img/contact-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-book {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url(/img/book-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.nav-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: .5em;
}
.logo {
  font-size: var(--font-md);
  z-index: 3;
  text-decoration: none;
  color: var(--font-color-light);
  padding: 0.5em 0 0.15em 0;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.logo::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--accent-color);
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
  transition: all var(--speed);
}
.logo:hover::after,
.logo:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.mobile-nav-toggle {
  border: 0;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}
.bar {
  fill:white;
}
nav {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  top: 4.5em;
  left: 0;
  right: 0;
  width: 90vw;
  background-color: var(--accent-color);
  z-index: 2;
  box-shadow: 0px 3px 16px 4px #00000045;
  border: 1px solid var(--accent-color-dark);
  border-radius: 6px;
}
.primary-navigation {
  display: none;
}
.opened {
  position: absolute;
  display: flex;
}
.nav-links {
  list-style: none;
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin:0;
}
.nav-link {
  text-decoration: none;
  color: var(--font-color-light);
  font-weight: 500;
  font-size: 1.25em;
  text-align: center;
  margin-inline: auto;
  padding: 0.5em 0;
  width: 100%;
  display: block;
  background-color: inherit;
  transition: all var(--speed) ease;
  white-space: nowrap;
  position: relative;
  overflow: hidden;
}
.nav-link:not(.btn):after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--accent-color);
  opacity: 1;
  transform: translate3d(-100%, 0, 0);
  transition: all var(--speed);
}
.nav-link:hover::after,
.nav-link:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.nav-links li {
  width: 100%;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  padding-bottom: 3.5em;
  min-height: 275px;
}
header h1 {
  margin-bottom: 0;
  margin: 0;
}
header p {
  margin-top: 0;
}
h1, h2 {
  font-weight: 300;
}
h3, h4 {
  font-weight: 700;
}
main {
  width: 100%;
}
p {
  font-size: var(--font-sm);
}
.block p {
  margin-inline: auto;
}
.btn-cta {
  padding: 1em 2em;
  border-radius: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-cta-sm {
  display: none;
}
.btn-appt {
  padding: 1.5em 0;
  position: sticky;
  bottom:15px;
  margin-inline: auto;
  width: 90vw;
  max-width: 350px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  border-radius: 100vw;
  box-shadow: 0px 0px 20px 1px #0000002e;
}
.arrow-right{
  margin-left: .6em;
  margin-top: -2px;
  display: block;
  transition: transform var(--speed) ease;

}
.btn-cta:hover > .arrow-right {
  transform: translateX(8px);
}
.scissors {
  line-height: 0;
  font-size: 1.6em;
  margin-left: .5em;
  transition: transform var(--speed) ease;
  display: block;
  margin-top: -2px;
}
.btn-appt:hover > .scissors {
  transform: translate(2px, -2px) rotate(-45deg);
}
.arrow-down{

}
section {
  padding-block: 3em;
}
.service {
background-color: var(--accent-color-light);
padding-block: 1em;
}
.service-name {
  color: var(--font-color-light);
  text-align: center;
  font-size: var(--font-md);
}
.haircuts {
  background: linear-gradient(var(--accent-gradient)), url(/img/services.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.styling {
  background: linear-gradient(var(--accent-gradient)), url(/img/services.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.coloring {
  background: linear-gradient(var(--accent-gradient)), url(/img/services.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.item-header {
  display: flex;
  align-items:baseline;
  justify-content: space-between;
  font-size: var(--font-sm);
}
.item-name {
  margin-block: .5em;
}
p.item-cost {
  margin-inline: 0;
  font-weight: 700;
  margin-block: 0.5em;
  color: var(--accent-color);
}
.description {
  margin-block: 0.5em;
}
.artists {
  display: flex;
  flex-direction: column;
}
.artist {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.artist:nth-of-type(odd) {
  align-self: end;
}
.artist-img{
  width: 327px;
  height: 266px;
  margin-bottom: .5em;
}
.artist:nth-of-type(odd) .artist-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 139px 100px 0px 139px;
}
.artist:nth-of-type(even) .artist-img  {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 100px 139px 139px 0px;
}
.artist-name {
  color: var(--accent-color);
}
p.artist-name, p.artist-pos {
  margin-block: 0;
  margin-inline: 6px;
}
.artist:nth-of-type(odd) .artist-name, .artist:nth-of-type(odd) .artist-pos {
  text-align: right;
}
.artist:nth-of-type(even) .artist-name, .artist:nth-of-type(even) .artist-pos {
  text-align: left;
}
.mj {
  background: url(/img/mj.png);
}
.verde {
  background: url(/img/verde.png);
}
footer {
  padding: 2em 0 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.socials {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2em;

}
.social {
  width: 2em;
  aspect-ratio: 1/1;
}
.insta {
  fill:var(--accent-color);
}
.copyright {
  color: gray;
}
@media screen and (min-width: 50em) {
  :root {
    --font-lg: min(6vw, 4.5em);
    --font-md: min(3vw, 2.5em);
    --font-sm: 1.3em;
  }
  .hero-content {
    min-height: 450px;
  }
  .artist-img{
    width: 388px;
    height: 324px;
    margin-bottom: .5em;
  }
  .artist:nth-of-type(even) {
    text-align:left;
    align-self: end;
  }
  .artist:nth-of-type(odd) {
    align-self: start;
    text-align: right;
  }
  .artist:nth-of-type(odd) .artist-name, .artist:nth-of-type(odd) .artist-pos {
    text-align: right;
  }
  .artist:nth-of-type(even) .artist-name, .artist:nth-of-type(even) .artist-pos {
    text-align: left;
  }
  .artist:nth-of-type(odd) .artist-img {
    border-radius: 139px 100px 0px 139px;
  }
  .artist:nth-of-type(even) .artist-img  {
    border-radius: 100px 139px 139px 0px;
  }
}

@media screen and (min-width: 60em) {
  
  .btn-appt {
    display: none;
  }
  .nav-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .primary-navigation {
    display: flex;
  }
  nav {
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 2;
    background-color: transparent;
    position: relative;
    box-shadow: none;
    flex-direction: row;
    top: 0;
    left: 0;
    right: 0;
    width: auto;
    border: none;
  }
  .mobile-nav-toggle {
    display: none;
  }
  .nav-links {
    display: flex;
    align-items: center;
  }
  .nav-link {
    font-weight: 300;
    transition: all var(--speed) ease;
  }
  .nav-link:not(.btn-cta-sm):hover {
    background-color: transparent;
  }
  .nav-links li {
    width: auto;
    margin-inline: 1.5em;
  }
  .btn-cta-sm {
    padding: .7em 1em;
    border-radius: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn-cta-sm:hover > .scissors {
    transform: translate(2px, -2px) rotate(-45deg);
  }
}
@media screen and (min-width: 82em) {
  
  .artist:nth-of-type(even) {
    margin-top: -238px;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.container {
  margin-inline: auto;
  width: clamp(360px, 90vw, 1920px);
}
.container-sm {
  margin-inline: auto;
  width: clamp(360px, 60vw, 800px);
}
.font-lg {
  font-size: var(--font-lg);
}
.font-md {
  font-size: var(--font-md);
}
.font-sm {
  font-size: var(--font-sm);
}
.toggle-open {

}
.toggle-close {
  display: none;
}
.block {
  margin-block:62px;
}
.block-sm {
  margin-block:40px;
}
.text-center {
  text-align: center;
}
.accent-text {
  color: var(--accent-color);
}
.btn {
  background-color: var(--accent-color);
  color: var(--font-color-light);
  border: none;
  cursor: pointer;
  transition: background-color var(--speed) ease;
  font-weight: 500;
  text-decoration: none;
}
.btn:hover {
  background-color: var(--accent-color-dark);
}

@media screen and (min-width: 50em) {
  .block {
    margin-block:124px;
  }
  .block-sm {
    margin-block:56px;
  }
}

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

